body{
    font-family: Montserrat;
}
.main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background:#343434;
    width: 2400px;
    height: 1800px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}
.section{
    background-image: url(../img/main-bg.png);
    width: 83%;
    height: 66%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 15px;
    -webkit-box-shadow: 0px 1px 100px 9px #000000;
            box-shadow: 0px 1px 100px 9px #000000;     
}
.left-section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: white;
    width: 120px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}
.left-text{
    width: 120px;
    min-height: 1100px;
}
.vertical-text{
    display: inline-block;
    font-size: 22px;
    max-height: 25px;
    min-width: 500px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.left-section img{
    max-width: 40px;
    max-height: 36px;
    margin-bottom: 50px;
}
.rigth-section header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 22px;
    margin-top: 70px;
    font-weight: 400;
    margin-bottom: 800px;
}
.rigth-section header a{
    color: black;
    text-decoration: none;
}
.title{
    font-size: 40px;
    font-weight: 900;
    margin-left: 110px;
    margin-right: auto;
}
.menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1000px;
}
.element-menu{
    margin-right: 90px;
    padding: 2px;
    color: white;
    border-radius: 20px;
    padding:3px 8px;
    background: transparent;
}
.element-menu:hover{
    color: white;
    border-radius: 20px;
    padding:3px 8px;
    background: black;
}
.text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.button{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    color: #706050;
    border-radius: 20px;
    padding:3px 8px;
    background: black;
    margin-bottom: 200px;
    padding: 5px 15px;
}